.custom-button {
  min-width: 165px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  background-color: black;
  color: white;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition-duration: 1.2s;

  &:hover {
    background-color: transparent;
    color: black;
    border: 2px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: transparent;
      color: #4285f4;
      border: 2px solid #4285f4;
    }
  }

  &.checkout-btn {
    min-width: 250px;
  }
}