.homePage {
  background: url('../../images/homePageBack.png') no-repeat center;
  background-size: cover;
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 0.2fr 1.5fr 2.5fr;
  grid-template-rows: repeat(2, 1fr) 1.5fr;
}

.home-info{
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  #main-header {
    text-align: center;
    margin: 3px auto;
    font-size: 4vw;
    font-weight: bold;
  }

  #sub-header {
    text-align: center;
    margin: 3px auto;
    margin-bottom: 10px;;
    font-size: 2vw;
  }
}

.home-btn {
  transition-duration: 0.8s;

  &:hover {
    background-color: transparent;
  }
}

@media screen and (max-width: 800px) {
  .homePage {
    display: block;
  }

  .home-info {
    position: relative;
    top: 30%;
    margin: auto;
    #main-header {
      font-size: 32px;
    }
  
    #sub-header {
      font-size: 16px;
    }
  }
}