.cart-icon {
  position: relative;

  .item-count {
    position: absolute;
    width: 19px;
    height: 19px;
    font-size: 14px;
    font-weight: bold;
    top: 14px;
    left: 35px;
    color: #fff;
    background-color: darkgoldenrod;
    border-radius: 50%;
    text-align: center;
  }
}