.cart-items-overview {
  width: 60%;

  .cart-header {
    font-size: 38px;
    font-weight: bold;
    padding: 0 0 32px;
  }

  .cart-items-container{
    max-height: 75vh;
    width: fit-content;
    overflow: auto;
  }
}

@media screen and (max-width: 1100px) {
  .cart-items-overview {
    width: auto;
  }
}

@media screen and (max-width: 700px) {
  .cart-items-overview {
    width: 310px;
    
    .cart-header {
      font-size: 38px;
    }
  
    .cart-items-container{
      max-height: 75vh;
      width: fit-content;
      overflow: auto;
    }
  }
}

@media screen and (max-width: 500px) {
  .cart-items-overview {
    width: 310px;
    
    .cart-header {
      font-size: 28px;
    }
  
    .cart-items-container{
      margin: auto;
      max-height: 75vh;
      width: fit-content;
      overflow: auto;
    }
  }
}