.sign-in-and-sign-up {
  width: 920px;
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
}

@media screen and (max-width: 950px) {
  .sign-in-and-sign-up {
    flex-direction: column;
    width: 450px;
    margin: 30px auto;
  }
}

@media screen and (max-width: 450px) {
  .sign-in-and-sign-up {
    flex-direction: column;
    width: 310px;
    margin: 30px auto;
  }
}