.directory-container {
  display: flex;
  height: calc(100vh - 70px);
  

  .directory {
    background-color: brown;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
  }
}

.directory-image {
  width: 65%;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1250px) {
  .directory-container {
    .directory {
      width: 45%;
    }
  }
  
  .directory-image {
    width: 55%;
  }
}

@media screen and (max-width: 950px) {
  .directory-container {
    .directory {
      width: 50%;
    }
  }
  
  .directory-image {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .directory-container {
    .directory {
      width: 100%;
    }
  }
  
  .directory-image {
    display: none;
  }
}