.directory-container {
  display: flex;
  height: calc(100vh - 70px);
  

  .directory {
    background-color: brown;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.directory-image {
  width: 65%;
  background-size: cover;
  background-position: center;
}