.cart-item-container {
  display: flex;
  width: 600px;
  height: 250px;
  font-size: 20px;
  margin: 0 0 24px 0;
  background-color: #f5f5f5;

  .cart-image-container {
    height: 100%;

    img {
      width:248px;
      height:100%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;

    .name {
      margin: 12px;
      padding: 0 0 9px 0;
    }

    .remove-btn-container {
      margin: 6px 0px;
      

      .remove-btn {
        height: 20px;
        width: 30px;
        float: right;
        
        &:hover {
          cursor: pointer;
        }
      }  
    }

    .price {
      font-weight: bold;
      margin: 12px;
      padding: 9px 0;
    }
      
    .quantity{
      margin: 12px;
      padding: 9px 30px 9px 0;
      font-weight: 600;
      display: flex;
      justify-content: space-between;

      .add-remove-con{
        display: flex;

        .value {
          margin: 0 12px;
        }

        .arrow {
          cursor: pointer;
        }
      }
    }
  }
}